.container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin: auto;
    border: 1px solid #ccc;
}
/* sdfjhs;dfjh */

.container div {
    background-color: black;
    border: 1px solid white;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
}

.container div:hover {
    background-color: grey;
}

.buttons  {
    padding: 10px;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Monospace', sans-serif;
    font-weight: 400;
   
}
.buttons button{
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: background 0.3s ease;
    font-family: 'Monospace', sans-serif;
    font-weight: 100;
}

.Colors {
    padding: 10px;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Monospace', sans-serif;
    font-weight: 400;
}

.Colors button {
    padding: 8px 12px;
    border-color: white;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: background 0.3s ease;
}
.Colors .cust {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Adds spacing between the text and button */
    padding-left: 50px; /* Remove unnecessary padding */
    padding-right: 30px;
}
.Colors .cust div {
    text-align: center; /* Centers the text inside the div */
    font-family: 'Monospace', sans-serif;
}


.Colors .custom {
   
    background: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}

.Colors .custom:hover {
    background: linear-gradient(to left, red, orange, yellow, green, blue, indigo, violet);
}
.Colors .random{
    background: black;
}
.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.pink {
    background-color: hotpink;
}